@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
:root {
  --poppins: "Poppins", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.apperences {
  height: 40vh;
  margin: 0 10px;
  width: 100%;
  margin-left: 300px;
}
.apperences_scroll {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6vw;
  margin-top: 40px;
}
.apperence_box {
  margin-left: 400px;
}


/* layout */

.layout {
  display: flex;
  flex-direction: column;
}
.layout_h2{
  font-family: var(--poppins);
}

.layout_box_container{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
.layout_box_container_p{
  font-family: var(--poppins);
  font-size: 18px !important;
  font-weight: 500 !important;
}
.layout_box {
  margin-top: 10px;
  border-radius: 25px;
  height: 40vh;
  width: 40vw;
  background: #e3e1e144;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.layout_box .layout_box_templets {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 10vw;
  border-radius: 10px;
  border: 2px solid black !important;
}

.buttons_h2,
.Fonts_h2 {
  margin-bottom: 20px;
  font-family: var(--poppins);
}

.buttons_sEc {
  height: 45vh;
  width: 40vw;
  background: #c7c7c744;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;
}


.buttons_box {
  margin-top: 20px;
  justify-content: center;
  display: grid;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.buttons_box_fill_box {
  display: flex;
  flex-direction: column;
}
.buttons_box_fill {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
}


.buttons_box_fill_button {
  transition: all 0.3s ease-in-out;
}

.buttons_box_fill_button1{
  outline: 2px solid #3b82f6 !important;
  outline-offset: 4px !important;
  box-shadow: 0 0 0 2px #3b82f6 !important;
}


.fill {
  color: #222;
  margin-bottom: 10px;
}

/* color */


.button_color,
.button_font_color {
  margin: 0% 35px;
}

.button_color_colerbox {
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  gap: 10px;
}

.color_box {
  position: relative;
}

.button_color_piker {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  cursor: pointer;
}

.button_color_colerbox_input {
  position: absolute;
  inset: 0;
  cursor: pointer;
  width: 100%;
  height: 50px;
  border: none;
  background: none;
  cursor: pointer;
  opacity: 1;
}
.Fonts_div{
  margin-bottom: 10px;
}

.Fonts_sEc {
  height: 35vh;
  width: 40vw;
  background: #c7c7c744;
  border-radius: 25px;
  padding: 20px;
  margin-bottom: 20px;
}

.Fonts_div_h3 {
  margin-bottom: 10px;
  font-family: var(--poppins);
}
.Fonts_box {
  padding: 16px;
  border: 2px solid #a4a5a6;
  width: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Font_box_fonts {
  width: 48px;
  height: 48px;
  margin-right: 16px;
  background: #caccce;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.Font_box_fonts_text {
  font-size: 18px;
  font-family: var(--poppins);
}
.Fonts_grp {
  position: absolute;
  width: 35%;
  margin-top: 8px;
  background: #d4d3d3;
  border-radius: 8px;
  z-index: 30;
  box-shadow: 0 4px 6px -4px #222;
}
.Fonts_one {
  padding: 12px;
  cursor: pointer;
}
.Fonts_one:hover {
  background: #d7d8da;
}

.Allcolor_flex_box {
  display: flex;
  gap: 10px;
}
.Allcolor_flex_box_input {
  border: none;
  height: 48px;
  width: 48px;
  outline: none;
}


.buttons_colors_textarea {
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: 10px;
  height: 48px;
  width: 180px;
  padding: 4px 20px;
  background: #dededd;
}
.button_color_1{
margin: 0;
}
.button_color_colerbox_2{
  margin-top: 10px;
  margin-bottom: 10px;
  /* align-items: center; */
  display: flex;
  gap: 10px;
}


.theam_sEc{
  height: 65vh;
  width: 40vw;
  background: #c7c7c744;
  border-radius: 25px;
  padding: 25px;
  margin-bottom: 20px;
  
}
.theam_h2{
  margin-bottom: 10px;
  font-family: var(--poppins);
}

.theam_box{
  display: flex;
  justify-content: center;
  
}
.theam_grp{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}


.theam_box_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.theam_box_container_button{
  width: 100%;
  border: 2px solid #E0E2D9;
  border-radius: 8px;
  margin-bottom: 8px;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}
.theam_box_container_button1{
  box-shadow: 0 0 0 2px #3b82f6;
}

.theam_Contain{
display: flex;
flex-direction: column;
align-items: center;

}

.theamboxs{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  height: 25vh;
  gap: 4px;
  width: 8vw;
}

.theamboxs_1{
  height: 2vh;
  width: 7vw;
  border-radius: 4px;

}

.Theamicons{
  gap: 5px;
  width: 12vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.apperence_box_button_box{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.apperence_box_button{ 
    background: #29A263;
    padding: 15px 10px;
    width: 10vw;
    margin: 20px 0;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
}
