@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --poppins:"Poppins", serif;
}

.links{
    height: 40vh;
    margin: 0 10px;
    width: 100%;
}
.links_scroll {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    gap: 6vw;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}
.links_scroll .phone{
    height:80vh;
    width: 20vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 35px;
    border: 8px solid black;
    position: fixed;
}


.phone{
    display: flex;
    flex-direction: column;

}
.phone .phone_profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 25px;
    border: 2px solid #b4acac47;
    margin-bottom: 20px;
    
}
.phone .phone_profile img{
    margin-top: 20px;
    height: 80px;
    width: 80px ;
    border-radius: 100%;
}
.phone .phone_profile p{
    font-size: 24px;
    font-weight: bold;
    font-family: var(--poppins);
    margin-top: 10px;
    color: #fff;

}
.phone .phone_save{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;   
}
  .p_link{
    background: #28A263;
    color: #fff;
}
 .p_inital{
    background: #C9C9C9;
}
 .phone_save_container{
    display: flex;
    align-items: center;
    background: #C9C9C9;
    width: 210px;
    height: 6vh;
    border-radius: 35px;
}

 .p_s_l{ 
    cursor: pointer;
    padding:10px 8PX;
    margin: 0 5PX;
    text-align: center;
    border-radius: 35px;
    width: 120px;
}



.phone .phone_links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.phone .phone_links .phone_links_scroll{
    display: flex;
    gap: 10px;
    flex-direction: column;
    height: 150px;
    width: 250px;
    overflow-y: scroll;
        
}
.phone_links_scroll_bar{
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: start;
    background-color: #C9C9C9;
    border-radius: 35px;
    height: 60px;
    gap: 20px;
}

.phone_links_scroll .phone_links_scroll_bar img{
    height: 40px;
    width: 40px ;
    border-radius: 100%;
}

#tasklist::-webkit-scrollbar{
    display: none;
}




.phone .phone_button{
    margin-top: 7vh;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}
.phone .phone_button button{
padding: 10px;
border-radius: 35px;
    background: #28A263;
    border: none;
    color: #fff;
    width: 15vw;
}
.links_scroll .phone .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--poppins)
}




/* profile */
.profile{
    margin-left:400px;
}

.profile .profile_box{
    margin-top: 10px;
    border-radius: 25px;
    height: 40vh;
    width: 40vw;
    background: #e3e1e144;
    display: flex;
    
    flex-direction: column;
    padding: 30px;
    
}
.profile .profile_box .image_piker{
    display: flex;
    align-items: center;
    gap: 20px;
}

 .image_piker img{
    height: 80px;
    width: 80px ;
    border-radius: 100%;
}
 .image_piker_button{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
 .image_piker_button button{
    width: 30vw;
    padding: 10px;
    border-radius: 35px;
    border: 2px solid #E0E2D9;
}

.image_piker_upload{
    background: #28A263 !important;
    border:none !important;
}
.profile_title{
    margin-top: 20px;
    display: flex;
    background: #a0a39b46;
    border-radius: 10px;
    padding: 10px;
    height: 45px;
    flex-direction: column;
    justify-content: center;
}
.profile_title p{
    font-size: 15px;
    color: #676B5F;
}.profile_title h2{
    font-size: 10px;
}

.profile_bio{
    margin-top: 20px;
    display: flex;
    background: #a0a39b46;
    border-radius: 10px;
    padding: 10px;
    height: 10vh;
    flex-direction: column;
    justify-content: center;
}


.profile .profile_links{
    margin-top: 10px;
    border-radius: 25px;
    min-height: 60vh;
    width: 40vw;
    background: #e3e1e144;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.profile_links_add{
    margin-top: 10px;  
    padding: 20px;
    border-radius: 35px;
    background: #28A263;
    border: none;
}


.profile_banner{
    margin-top: 10px;
    border-radius: 25px;
    height: 65vh;
    width: 40vw;
    background: #e3e1e144;
    flex-direction: column;
    padding: 20px;
}
.banner_black{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 37vw;
    border-radius: 10px;
    gap: 10px;
    border: 2px solid #b4acac47;
}
.banner_black_logo{
height: 80px;
width: 80px;
border-radius: 100%;
}
.banner_black .banner_black_h2, .banner_black_p{
    display: flex;
    align-items: center;
    color: #fff;
}
.banner_black_color_box{
    display: flex;
    gap: 2px;
    margin-top:10px;
}
.banner_black_color_box_button{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid black;
}
.banner_black_color_piker{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.banner_black_color_piker p{
    color: #222;
}

.banner_black_tag{
    display: flex;
    gap: 10px;

}
.banner_black_tag input{
    padding: 10px;
    outline: none;
    border: none;
    background: #ecedebe4;
    border-radius: 10px;
}
.banner_black_icon{
    height: 6vh;
    width: 3vw;
    border-radius: 10px;
    gap: 10px;
    border: 2px solid #b4acac47;
   
}
.banner_black_tag{
    display: flex;
}
.profile_sec_button_box{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.profile_sec_button{
    background: #29A263;
    padding:15px 10px;
    width: 10vw;
    margin: 20px 0;
    border-radius: 10px;
    border: none;
    display: flex;
    
}



.LinkCard{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 20vh;
    border-radius: 25px;
    background: #a0a39b46;
}
.LinkCard h2{
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 600;
    color: #767676;
    margin-bottom: 10px;
}

.LinkCard .link_connection{
    display: flex;
    justify-content: space-between;
}
.LinkCard .link_connection a{
    text-decoration: none;
    color: #767676;
    margin-bottom: 20px;
}

.link_review{
    display: flex;
    justify-content: space-between;
}
/* .link_delete{
    
} */