@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root{
    --poppins:"Poppins", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.links{
    height: 40vh;
    margin: 0 10px;
    width: 100%;
    margin-left: 300px;
}
.links_scroll {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6vw;
    margin-top: 40px;
}




/* profile */
.profile{
    margin-left:400px;
}

.profile .profile_box{
    margin-top: 10px;
    border-radius: 25px;
    /* height: 40vh; */
    /* width: 40vw; */
    background: #e3e1e144;
    display: flex;
    
    flex-direction: column;
    padding: 30px;
    
}
.profile .profile_box .image_piker{
    display: flex;
    align-items: center;
    gap: 20px;
}

 .image_piker img{
    height: 80px;
    width: 80px ;
    border-radius: 100%;
    outline: 2px solid #a5a6a9;
    outline-offset: 4px;
    
}
 .image_piker_button{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
 .image_piker_button button{
    width: 30vw;
    padding: 10px;
    border-radius: 35px;
    border: 2px solid #E0E2D9;
    cursor: pointer;
}
.image_piker_upload{
    background: #28A263 !important;
    border:none !important;
}

/* profile_title_grp */

.profile_title_profile{
    background: #a0a39b46;
    border-radius: 10px;
    padding: 10px;
    height: 55px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.profile_title,.profile_bio{
    background: transparent;
    border: none;
    outline: none;
}
.profile_title_grp_bio{
    background: #a0a39b46;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    height: 12vh !important;
    width: 100%;
}
.profile_bio{
    height: 12vh ;
    resize: none;
}


.profile .profile_links{
    margin-top: 10px;
    border-radius: 25px;
    min-height: 10vh;
    width: 40vw;
    background: #e3e1e144;
    /* background: #a0141444; */
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.profile_links_add{
    margin-top: 10px;  
    padding: 20px;
    border-radius: 35px;
    background: #28A263;
    border: none;
}

.phone_save_container_saved-link{
    background: #a0a39b46;
    padding: 20px;
    border-radius: 35px;
    margin: 10px 0;
    height: 20vh;
}
.edit_link_shop_flex{
display: flex;
justify-content: space-between;
}
.edit_link_shop_flex_div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.edit_link_shop_flex_input{
padding: 10px;
border-radius: 15px;
border: none;
outline: none;
margin:0 10px ;
background-color: #ccc;
}


.phone_save_container_saved-link_url_text{
display: flex;
gap: 6px;
}
.phone_save_container_saved-link_url_link{
  display: flex;
  gap: 2px;
}

.phone_save_container_saved-link_url{
  display: flex;
    text-decoration: none;
    color: #767676;
   
    
}
.edit_link_shop_flex_container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.click-count{
  display: flex;
  align-items: center;
  gap: 4px;
}

.profile_banner{
    margin-top: 10px;
    border-radius: 25px;
    height: 65vh;
    width: 40vw;
    background: #e3e1e144;
    flex-direction: column;
    padding: 20px;
}
.banner_black{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 37vw;
    border-radius: 10px;
    gap: 10px;
    border: 2px solid #b4acac47;
}
.banner_black_logo{
height: 80px;
width: 80px;
border-radius: 100%;
}
.banner_black .banner_black_h2, .banner_black_p{
    display: flex;
    align-items: center;
}
.banner_black_color_box{
    display: flex;
    gap: 2px;
    margin-top:10px;
}
.banner_black_color_box_button{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 2px solid black;
}
.banner_black_color_piker{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.banner_black_color_piker p{
    color: #222;
}

.banner_black_tag{
    display: flex;
    gap: 10px;

}
.banner_black_tag input{
    padding: 10px;
    outline: none;
    border: none;
    background: #ecedebe4;
    border-radius: 10px;
}
.banner_black_icon{
    height: 6vh;
    width: 3vw;
    border-radius: 10px;
    gap: 10px;
    border: 2px solid #b4acac47;
   
}
.banner_black_tag{
    display: flex;
}
.profile_sec_button_box{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.profile_sec_button{
    background: #29A263;
    padding:15px 10px;
    width: 10vw;
    margin: 20px 0;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    
}



/* linkcard */

.linkcard_modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .linkcard_modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    height: 40vh;
    position: relative;
  }
  .linkcard_modal-content_h2{
    font-family: var(--poppins);
    font-size: 18px;
  }
  .linkcard_modal-content_linktitle{
    display: flex;
    align-items: center;
    gap: 8px;
  }
/* Toggle Switch */
.toggle-switch {
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }

  .toggle-switch.on {
    background-color: #4CAF50;
  }
  
  .toggle-thumb {
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    transition: left 0.3s ease-in-out;
  }
  
  .toggle-switch.on .toggle-thumb {
    left: 22px;
  }
/* link */
  .linkcard_modal-content_linkurl{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #d2d0d0;
    transition: color 0.3s;
  }

  
  .linkcard_modal-input {
    width: 100%;
    margin: 10px 0;
    background:#a0a39b46;

    padding: 8px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  .linkcard_app-icons_box_container{
    display: flex;
    margin-top: 10px;
    gap: 10px;
  }
  .linkcard_app-icons_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .linkcard_app-icons_border{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    border-radius: 8px;
    height: 8vh;
    width:5vw;
  }
  .linkcard_app-icons{
    
    height: 25px;
    width: 25px;
  }
  .linkcard_app-icons span {
    
    margin: 5px;
    padding: 5px 10px;
    
    border-radius: 5px;
  }
.toggle-switch_delete{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}