.phone{
    height:80vh;
    width: 20vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 35px;
    border: 8px solid black;
    position: fixed;
}
.phone .phone_profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 25px;
    border: 2px solid #b4acac47;
    margin-bottom: 20px;
    
}
.phone .phone_profile img{
    margin-top: 20px;
    height: 80px;
    width: 80px ;
    border-radius: 100%;
}
.phone_text{
    font-size: 24px;
    font-weight: bold;
    font-family: var(--poppins);
    margin-top: 10px;
    color: #fff;

}

.phone_bio{
    font-size: 16px !important;
    font-weight: bold;
    font-family: var(--poppins);
    margin-top: 10px;
    color: #fff;
}
.phone .phone_save{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;   
}
  .p_link{
    background: #28A263;
    color: #fff;
}
 .p_inital{
    background: #C9C9C9;
}
 .phone_save_container{
    display: flex;
    align-items: center;
    background: #C9C9C9;
    width: 210px;
    height: 6vh;
    border-radius: 35px;
}

 .p_s_l{ 
    cursor: pointer;
    padding:10px 8PX;
    margin: 0 5PX;
    text-align: center;
    border-radius: 35px;
    width: 120px;
}



.phone .phone_links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.phone .phone_links .phone_links_scroll{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    margin: 10px;
    height: 150px;
    width: 250px;
    overflow: scroll;
        
}
.stack{
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px;
    justify-content: start;
    background-color: #C9C9C9;
    border-radius: 35px;
    height: 5vh;
    width: 12vw;
    gap: 20px;
    margin: 10px 0;

    cursor: pointer;
}

.hidden-link {
    position: absolute;  
    opacity: 0;         
    pointer-events: auto; 
  }
.phone_links_scroll_bar_img_div{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    margin: 1px;
    height: 30px;
    width: 30px;
    border-radius: 35px;
}
.phone_links_scroll_bar_img{
    height: 20px;
    width: 20px ;
    border-radius: 100%;
}
.phone_links_scroll_bar_img_p{
    overflow: hidden;
}

#tasklist::-webkit-scrollbar{
    display: none;
}




.phone .phone_button{
    margin-top: 7vh;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}
.phone .phone_button button{
padding: 10px;
border-radius: 35px;
    background: #28A263;
    border: none;
    color: #fff;
    width: 15vw;
}
 .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--poppins)
}
.grid_layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }
  
  .grid_item{
    
    background: white;
    padding: 10px;
    height: 15vh !important;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  .grid_item_shop{
    
    background: white;
    padding: 4px;
    margin: 8px;
    height: 10vh !important;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  .phone_links_scroll_bar_img_p_grid{
    width: 20px;
  }
  .phone_links_scroll_bar_img_p_grid_shop{
    overflow: hidden;
    width: 90px;
  }
  .grid_img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .carousel_layout{
    
    display: flex;
    gap: 10px;
    overflow-x: auto;
    
  }
  .carousel_layout_shop{
    
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    width: 15vw;
  }
  .carousel_item {
    background: white;
    padding: 15px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;

  }
  .carousel_item_shop{
    background: white;
    padding: 10px; 
    margin: 10px;
    width: 70px !important;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  #tasklist::-webkit-scrollbar{
    display: none;
}
  .carousel_img {
    width: 50px;
    height: 50px;
  }